server:
  port: 4000

spring:
  application:
    name: gateway-service

  output:
    ansi:
      enabled: ALWAYS

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8181/realms/shopping-ms
