server:
  port: 4010

spring:
  application:
    name: product-service

  output:
    ansi:
      enabled: ALWAYS

  data:
    mongodb:
      uri: mongodb://admin:pwd@localhost:27017/products?authSource=admin
      database: products